h1{
  text-align: center;
  margin-bottom: 20px;
  color: #f2f0c4;
}
p{
  color: #f2f0c4;
}
h4{
  color: #f2f0c4;
}

label{
  color: #f2f0c4;
}
.upload-container {
  margin-bottom: 20px;
}

.upload-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
h3{
  color: #f2f0c4;
}
/* .add-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for form and history */
  /* grid-gap: 20px;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
}
.add-item-form-container {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
} */ */
.product-info-container {
  margin-bottom: 20px;
  
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.meal-type-label {
  font-size: 0.8rem;
}
input[type="text"],
input[type="number"],
select {
  width: 60%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.submit-button {
  background-color: #007bff; /* Replace with your color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.submit-button:hover {
  background-color: #0067cc; /* Darker shade on hover */
}
.product-history-item {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
/* .product-info-container {
  text-align: center;
} */
.add-item-form-container{
  
  text-align: left;
  margin-left: 20%;
}

