body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: lightslategray; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .sukh-container {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sukh-container h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
  }
  
  .sukh-container form {
    display: flex;
    flex-direction: column;
  }
  
  .sukh-container input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sukh-container input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 4px rgba(40, 167, 69, 0.2);
  }
  
  .sukh-container button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sukh-container button:hover {
    background-color: #218838;
  }
  
  .sukh-container p {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .sukh-container p button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    padding: 0;
  }
  
  .sukh-container p[style] {
    text-align: left;
  }
  